@charset "UTF-8";
html, body, #root {
  height: 100%;
}

body, #root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
}

hr {
  opacity: 0.7;
}

a {
  transition: 0.3s;
}

a:hover {
  transition: 0.3s;
}

.collapsible-body-content {
  padding: 20px;
}

.main-menu {
  float: right;
}

.header {
  background-color: #365cad;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.header-inner .main-menu a.active, .header-inner .main-menu li.active::after, .sidenav a.active, .sidenav a.active i, .sidenav li.active::after {
  color: #4272d7 !important;
}

.header-inner .main-menu li.has-submenu, .sidenav li.has-submenu {
  position: relative;
}

.header-inner .main-menu li.has-submenu .toggle, .sidenav li.has-submenu .toggle {
  position: absolute;
  width: 28px;
  right: 18px;
  font-size: 18px;
  text-align: center;
  color: initial;
  cursor: pointer;
}

.header-inner .main-menu li.has-submenu .submenu, .sidenav li.has-submenu .submenu {
  overflow: hidden;
}

.header-inner .main-menu li.has-submenu .toggle {
  top: 13px;
}

.sidenav li.has-submenu .toggle {
  top: 0;
}

.header-inner .main-menu > li:last-child {
  display: none;
}

.sidenav li.has-submenu::after {
  top: 1px;
}

.submenu {
  display: flex;
  flex-direction: column;
}

.submenu .submenu-item a {
  display: flex;
  align-items: center;
  padding-left: 52px !important;
  font-size: 1em;
}

.submenu .submenu-item a .fa {
  margin-right: 6px;
  font-size: 0.7em;
}

.sidenav .submenu .submenu-item a {
  padding-left: 62px !important;
}

.sidenav .submenu .submenu-item a .fa {
  margin-top: 1px;
}

nav {
  box-shadow: none;
}

nav .brand-logo {
  display: inline-flex;
  align-items: center;
  height: 80px;
}

nav .sidenav-trigger {
  font-size: 22px;
}

nav .nav-wrapper i {
  height: auto;
  width: 20px;
  margin-right: 12px;
  text-align: center;
  line-height: inherit;
}

.header:not(.header-inner) nav a:not(.brand-logo).active, .header:not(.header-inner) nav .sidenav a.active:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header:not(.header-inner) nav .sidenav a.active {
  background-color: inherit;
}

.sidenav {
  padding-top: 20px;
}

.sidenav li > a > i {
  width: 20px;
  margin-right: 15px;
}

.title-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.title-wrap .btn-floating {
  margin-left: 2rem;
  margin-bottom: 1.1rem;
  border-radius: 2px;
}

.title-wrap .btn-floating:hover {
  background-color: #d73d0e;
}

.title-wrap .btn-floating i {
  font-size: 14px;
}

.get-started {
  flex-wrap: wrap;
  padding: 35px 0 55px;
}

.get-started h1 {
  margin: 0 auto 1.4rem;
  font-size: 3.3rem;
  font-weight: 500;
}

.get-started h1 span {
  line-height: 1.5;
}

.get-started .btn {
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
}

.get-started img {
  width: 90%;
  margin-right: 30px;
}

.screenshot img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.read-more {
  margin: 90px 0 60px;
  padding: 60px 0 80px;
  background-color: #daf5f5;
}

.read-more .container p {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
  font-size: 1.5rem;
}

.read-more .container a {
  font-size: 1.1rem;
}

.read-more .fa-arrow-right {
  margin-right: 5px;
}

.relax {
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.relax h3 {
  width: 85%;
  margin: 0 auto 2rem;
  font-size: 2.3rem;
  line-height: 1.2;
}

.relax img {
  width: 100%;
}

.relax .btn {
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
}

.content {
  flex-grow: 1;
  padding: 40px 0 20px;
}

.content p {
  font-size: 17px;
  text-align: justify;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: inherit;
}

.dropdown-content li {
  min-height: 44px;
}

.dropdown-content li > span {
  padding: 11px 12px;
}

ul.dropdown-content.select-dropdown {
  max-height: 220px;
}

.filter-row {
  margin-top: -10px;
  margin-bottom: 5px;
}

.filter-row .input-field {
  margin-top: 0;
}

.action {
  display: flex;
  align-items: center;
  padding-left: 40px !important;
}

.action-checkbox {
  height: 24px;
}

.action-checkbox + .input-field {
  margin-bottom: 0;
  padding: 0;
}

.action-btn-wrap {
  margin-left: 15px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.filter .filter-label {
  margin-top: 17px;
  opacity: 0.5;
}

.filter .filter-label.active {
  color: #bf360c;
  text-shadow: 0 0 10px #f98967;
  opacity: 1;
}

.filter .filter-label-text {
  margin-left: 3px;
}

.filter .filter-inputs {
  display: flex;
}

.filter .filter-inputs .input-field.col {
  padding: 0;
}

.filter .input-field {
  margin-left: 12px;
}

.cols-name {
  display: flex;
  padding: 0 25px 10px 60px;
  opacity: 0.5;
}

.cols-name h6 {
  margin: 2px 0 0;
  font-size: 15px;
}

.cols-name h6:first-child {
  width: calc(54% - 132px);
}

.cols-name h6:nth-child(2) {
  width: 16%;
}

.cols-name h6:nth-child(3) {
  width: 17.5%;
}

.cols-name h6:nth-child(4) {
  width: 12%;
}

.footer {
  padding: 16px 0;
  background: #e5e5e5;
  font-size: 0.9em;
}

#modal-signup div.modal-close, #modal-signin div.modal-close {
  cursor: default;
}

.modal-header {
  padding: 22px 24px 0;
  text-align: center;
  margin-bottom: 0;
}

.modal-header h4 {
  margin-bottom: 0;
}

.modal .modal-content {
  padding: 15px 24px 16px;
}

.modal .modal-footer {
  position: relative;
  font-size: 0.9em;
}

.modal .preloader-wrapper {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -22px;
  left: calc(50% - 8px);
}

.content-inner .preloader-wrapper {
  left: calc(50% - 13px);
}

.spinner-blue-only {
  border-color: #bf360c;
}

.circle-clipper .circle {
  border-width: 2px;
}

.modal-error, .error {
  color: red;
}

.modal-error {
  margin-bottom: 10px;
}

.modal-success, .success {
  color: green;
}

.error, .success {
  font-size: 0.9em;
}

.submit-wrap {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.checkbox-wrap label {
  color: inherit;
}

.content-inner, .footer-inner {
  background: #f0f0f0;
}

.footer-inner .сopyright {
  margin-top: 25px;
}

.input-field .helper-text {
  margin-bottom: 22px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.input-group .input-field.col {
  width: 48%;
}

.tasks-list-name {
  margin-top: 30px;
}

.tasks-list-name #tasks-list-name {
  color: inherit;
  border-bottom: 1px solid #9e9e9e;
}

.datepicker-date-display {
  padding: 20px 15px;
}

.datepicker-date-display .date-text {
  font-size: 1.8rem;
}

.timepicker-text-container {
  font-size: 2.8rem;
}

.tasks-list, .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  margin-bottom: 7px;
  border-radius: 2px;
  background: #ffffff;
  font-size: 17px;
  transition: 0.3s;
}

.tasks-list:hover, .task:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.tasks-list .control-buttons, .task .control-buttons {
  display: flex;
  justify-content: flex-end;
  min-width: 141px;
}

.tasks-list .control-button, .task .control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  border-radius: 50%;
  background: #f0f0f0;
  color: inherit;
}

.tasks-list .control-button:hover, .task .control-button:hover {
  background: #d73d0e;
  color: #ffffff;
}

.tasks-list {
  position: relative;
}

.tasks-list .control-buttons {
  position: relative;
  z-index: 2;
}

.list-name {
  width: 140px;
  margin-right: 20px;
  font-weight: 700;
}

.list-desс {
  flex-grow: 1;
}

.list-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.task {
  justify-content: flex-start;
  min-height: 86px;
}

.task .task-checkbox {
  padding-top: 5px;
}

.task .task-name, .task .task-category, .task .task-date, .task .task-status {
  margin-bottom: 3px;
  box-sizing: border-box;
}

.task .task-name {
  position: relative;
  width: calc(54% - 129px);
  padding-right: 15px;
  line-height: 1.3;
}

.task .task-name .list-name-label {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.8em;
  font-style: italic;
}

.task .task-category {
  width: 16%;
  padding-right: 15px;
  overflow: hidden;
}

.task .task-date {
  width: 18%;
}

.task .task-status {
  width: 12%;
}

.task.archived {
  opacity: 0.7;
}

.settings-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.settings-row .setting-label {
  min-width: 100px;
  opacity: 0.5;
}

.settings-row .btn-cancel {
  margin: 0 20px;
}

.settings-row .switch {
  margin-top: 1.15em;
  margin-bottom: 1.15em;
}

.settings-row:nth-last-child(2) {
  margin-bottom: 25px;
}

.settings-subtitle {
  margin-top: 35px;
  font-weight: bold;
}

.settings-subtitle:nth-child(2) {
  margin-top: 0;
}

.new-password-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.new-password-wrap {
  margin: 0 20px 0 0;
  width: 160px;
}

.new-password-wrap input, #password-signup, #password {
  padding-right: 22px !important;
  box-sizing: border-box !important;
}

.see-password {
  position: absolute;
  top: 17px;
  right: 0;
  font-size: 1.1em;
  cursor: pointer;
}

.add-category-form .input-field {
  margin: 10px 20px 10px 0;
}

.category-item {
  padding: 3px 10px 4px;
  margin-top: 10px;
  margin-right: 8px;
  border-radius: 25px;
  background-color: #dfdfdf;
}

.category-item .fa {
  margin-left: 5px;
  font-size: 0.9em;
  cursor: pointer;
}

.save-categories-btn {
  margin-top: -25px;
  margin-bottom: 20px;
}

.buttons-group {
  margin-top: 30px;
  text-align: center;
}

.buttons-group button {
  margin: 0 10px;
}

.not-allowed {
  cursor: not-allowed;
}

.mb0 {
  margin-bottom: 0 !important;
}

::-ms-reveal {
  width: 0;
  height: 0;
}

.greeting {
  position: fixed;
  right: -350px;
  bottom: -350px;
  width: 350px;
  height: 350px;
  background-image: radial-gradient(circle at bottom right, rgba(66, 114, 215, 0.8) 70%, transparent 70%);
  z-index: 10;
  animation: slide-up-left 0.3s ease-out 0.7s;
  animation-fill-mode: forwards;
}

.greeting-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 78px 20px 0 90px;
  text-align: center;
  color: #ffffff;
  opacity: 0;
  animation: fade-in 0.4s ease-out 1s;
  animation-fill-mode: forwards;
}

.greeting-content h6 {
  margin-bottom: 0;
}

.greeting-content .btn-small {
  color: initial;
}

@keyframes slide-up-left {
  from {
    right: -350px;
    bottom: -350px;
  }
  to {
    right: 0;
    bottom: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1360px) {
  .action {
    padding-right: 0 !important;
  }
  .filter .filter-label {
    opacity: 1;
    cursor: pointer;
  }
  .filter .filter-inputs {
    display: none;
    position: absolute;
    top: 48px;
    right: 15px;
    width: 200px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    z-index: 5;
  }
  .filter .filter-inputs.active {
    display: flex;
    flex-direction: column;
  }
  .filter .filter-inputs.active .input-field {
    margin: 0;
  }
  .chips-categories {
    width: 100%;
  }
  .task-name, .task-category, .task-date, .task-status {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 993px) {
  .header-inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    width: 300px;
    background-color: #ffffff;
  }
  .header-inner nav.container {
    width: auto;
    height: 100%;
    line-height: inherit;
    background-color: #ffffff;
  }
  .header-inner nav.container .brand-logo {
    position: relative;
  }
  .header-inner .main-menu {
    display: flex;
    flex-direction: column;
    float: none;
  }
  .header-inner .main-menu a {
    padding: 12px 25px;
    color: rgba(0, 0, 0, 0.87);
  }
  .header-inner .logo-wrap {
    text-align: center;
    background-color: #365cad;
  }
  .header-inner .main-menu-wrap {
    padding: 20px 0;
    height: calc(100% - 40px);
    overflow: auto;
  }
  .header-inner .notice-link {
    display: none;
  }
  .topbar {
    height: 80px;
    width: 100%;
    padding-left: 340px;
    padding-right: 40px;
    font-size: 28px;
    line-height: 80px;
    text-align: right;
    color: #ffffff;
    background: #4272d7;
  }
  .topbar a {
    padding: 0 8px;
    color: #ffffff;
  }
  .topbar a:last-child {
    padding-right: 0;
  }
  .topbar a:hover {
    color: #e5e5e5;
  }
  .topbar .fa-bell {
    font-size: 25px;
  }
  .topbar a.notice-link {
    padding: 0 8px;
    margin-right: 8px;
  }
  .content-inner {
    padding-left: 340px;
    padding-right: 40px;
  }
  .content-inner .container {
    width: 100%;
  }
  .footer-inner {
    padding-left: 340px;
    padding-right: 40px;
  }
  .footer-inner .container {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .topbar {
    display: none;
  }
  .header-inner nav .brand-logo {
    left: 0;
    transform: none;
  }
  .header-inner nav .sidenav-trigger {
    margin: 0;
  }
  .header-inner nav .sidenav-trigger i {
    margin-right: 0;
  }
  .header-inner .notice-link {
    float: right;
    margin-right: 10px;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  .cols-name {
    display: none;
  }
  .action {
    padding-left: 15px !important;
  }
  .task {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: initial;
  }
  .task .task-checkbox {
    display: none;
  }
  .task .task-name, .task .task-category, .task .task-date, .task .task-status {
    position: relative;
    margin-bottom: 18px;
    padding-top: 20px;
  }
  .task .task-name::before, .task .task-category::before, .task .task-date::before, .task .task-status::before {
    position: absolute;
    top: -4px;
    left: 0;
    opacity: 0.5;
    font-size: 0.8em;
  }
  .task .task-name {
    width: 100%;
    font-weight: 500;
  }
  .task .task-name::before {
    content: 'Задача';
    font-weight: 400;
  }
  .task .task-category, .task .task-date {
    width: 32%;
  }
  .task .task-category::before {
    content: 'Категория';
  }
  .task .task-date::before {
    content: 'Дата';
  }
  .task .task-status {
    width: 26%;
  }
  .task .task-status::before {
    content: 'Статус';
  }
  .task .control-buttons {
    justify-content: flex-start;
    min-width: 104px;
  }
  .task .control-button:first-child {
    margin-left: 0;
  }
  .task.archived .task-name {
    margin-bottom: 26px;
  }
  .task.archived .task-name .list-name-label {
    font-weight: 400;
  }
}

@media screen and (max-width: 768px) {
  .get-started .btn, .relax .btn {
    height: 44px;
    line-height: 44px;
    font-size: initial;
  }
  .get-started h1 {
    font-size: 2.3rem;
  }
  .relax h3 {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 600px) {
  .filter .filter-label {
    margin-top: 0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
  }
  .filter-label-text {
    display: none;
  }
  .get-started {
    justify-content: center;
    padding: 0 0 20px;
  }
  .get-started img {
    margin-right: 0;
    margin-top: 25px;
  }
  .read-more {
    margin: 50px 0 30px;
    padding: 20px 0 50px;
  }
  .read-more .container p {
    margin-left: 5%;
    margin-right: 5%;
  }
  .relax img {
    width: 90%;
    margin-bottom: 15px;
  }
  .relax h3 {
    width: 92%;
    line-height: 1.3;
  }
}

@media screen and (max-width: 575px) {
  .task {
    padding: 15px;
  }
  .task .task-category, .task .task-date, .task .control-buttons {
    width: 50%;
  }
  .task .control-buttons {
    align-items: flex-end;
  }
  .task .task-status {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .tasks-list {
    flex-wrap: wrap;
  }
  .tasks-list .list-name {
    margin-right: 0;
  }
  .tasks-list .list-desс {
    order: 1;
    width: 100%;
    margin-top: 10px;
  }
  .input-group-date .react-datepicker-wrapper {
    width: 48%;
  }
  .greeting {
    width: 300px;
    height: 300px;
  }
  .greeting p {
    line-height: 1.3;
  }
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 2.5rem;
  }
  .tasks-list {
    padding: 20px 15px;
  }
  .tasks-list .list-name {
    width: auto;
    max-width: 140px;
  }
  label[for="agree"] span {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
  }
}
